<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <style>
        .main{
            width:100%;
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
            margin: auto 0;
         
        }
      .imgg{
        width: 300px;
        height: 200px;
        border-radius: 12px;
      }
      .container{
        border-radius: 12px;
        padding: 10px;
        width:350px;
        margin :40px;
        font-family:  'Poppins', sans-serif;;
        text-align: center;
        box-shadow: 5px 5px 5px #e8e8e8;
      }
      a{
        background:#ffff;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
               display: inline-block;
               padding: 10px;
               text-align: center;
 color:black;
 width: 100px;;
 text-decoration: none;
        border-radius: 12px;
        background-color: #ffff;
        font-size: larger;
        font-family:  'Poppins', sans-serif;;
        cursor: pointer;

      }
      a:hover{
        background-color:  #009087;
        color:#ffff;
        width: 250px;;
      }
      .welcome{
        
        font-family:  'Poppins', sans-serif;;
        text-align: center;
        box-shadow: 5px 5px 5px #e8e8e8;
      }
      
    </style>
</head>
<body>
  <header class="header-section">
    <div class="logo-user">
       <center> <img class="logo" src="./assets/logo.png" alt="logo"></img></center>
        
    </div>
</header>
    <h1 class="welcome">Welcome Admin</h1>
    <div class="main">
    <div class="container">

        <img class="imgg" src="./assets/book.jpg">
        <h1 class="heading">Patent Projects</h1>
        <p class="content">User can upload patents here!!!</p>
        <a id="table" href="/admin">Login</a>
        
    </div>
    <div class="container">
      <img class="imgg" src="./assets/book.jpg">
        <h1 class="heading">Patent Projects</h1>
        <p class="content">User can upload patents here!!!</p>
        
        <button>Login</button>
    </div>
    <div class="container">
      <img class="imgg" src="./assets/book.jpg">
        <h1 class="heading">Patent Projects</h1>
        <p class="content">User can upload patents here!!!</p>
        
        <button>Login</button>
    </div>
    <div class="container">
      <img class="imgg" src="./assets/book.jpg">
        <h1 class="heading">Conference</h1>
        <p class="content">User can upload patents here!!!</p>
        
        <button>Login</button>
    </div>
    <div class="container">
      <img class="imgg" src="./assets/book.jpg">
        <h1 class="heading">Patent Projects</h1>
        <p class="content">User can upload patents here!!!</p>
        
        <button>Login</button>
    </div>
    <div class="container">
      <img class="imgg" src="./assets/book.jpg">
        <h1 class="heading">Patent Projects</h1>
        <p class="content">User can upload patents here!!!</p>
        
        <button>Login</button>
    </div>
</div>
</body>
</html>