

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f8f9fa;
    }

    .container {
      background-color: #ffffff;
      padding: 70px;
      border-radius: 8px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 300px;
    }

    h1 {
      margin-bottom: 20px;
      color: #343a40;
    }

    form {
      text-align: left;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #343a40;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 12px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #0056b3;
    }
    .reg{
      font-family: 'Poppins', sans-serif;
      background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
      -webkit-text-fill-color: transparent;
       -webkit-background-clip: text;
    }

    a {
      display: block;
      margin-top: 15px;
      color: #007bff;
      text-decoration: none;
      font-size: 14px;
    }
    
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
  <div class="container">
    <h1>Register</h1>
    <h2 class="reg"><%= textToDisplay %></h2>
    <form id="loginForm" action="/register" method="POST">
      
      
        <label for="Username">Username</label>
      <input type="text" id="Username" name="Username" required>
      <label for="Email">Email:</label>
      <input type="email" id="Email" name="Email" required>
      <label for="Password">Password:</label>
      <input type="password" id="Password" name="Password" required>
      <button type="submit" >Register</button>
    </form>
    </div>
    </body>
    </html>